<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="My Apps Page">
    <meta name="author" content="Gavin Mogan &lt;gavin@gavinmogan.com&gt;">

    <title>Apps/Projects</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
  </head>

  <body role="document">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <!-- https://getbootstrap.com/docs/5.0/components/navbar/ -->
        <a class="navbar-brand" href="/">Apps</a>
      </div>
    </nav>

    {{ content }}
    <script defer data-domain="apps.gavinmogan.com" src="https://p.g4v.dev/js/script.file-downloads.outbound-links.js"></script>
    <script defer src="https://u.g4v.dev/script.js" data-website-id="7056cbe4-732e-44e5-a488-22106d5eb2c9"></script>
  </body>
</html>
