---
eleventyExcludeFromCollections: true
eleventyImport:
  collections: ["projects"]
layout: "default.liquid"
---
<section id="projects" class="background-alt" role="main">
  <h2>Fun / Tech Demos</h2>
  <div class="container">
    {% render 'project_view.liquid' for collections.funProjects as project %}
  </div>
  <h2>Useful open source projects</h2>
  <div class="container">
    {% render 'project_view.liquid' for collections.seriousProjects as project %}
  </div>
  <h2>Jenkins projects</h2>
  <div class="container">
    {% render 'project_view.liquid' for collections.jenkinsProjects as project %}
  </div>
  <h2>Legacy projects</h2>
  <div class="container">
    {% render 'project_view.liquid' for collections.legacyProjects as project %}
  </div>
  <h2>MUDs</h2>
  <div class="container">
    {% render 'project_view.liquid' for collections.mudsProjects as project %}
  </div>
  <h2>Everything else</h2>
  <div class="container">
    {% render 'project_view.liquid' for collections.remainingProjects as project %}
  </div>
</section>
