---
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="My Apps Page">
    <meta name="author" content="Gavin Mogan &lt;gavin@gavinmogan.com&gt;">

    <title>Apps/Projects</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
  </head>

  <body role="document">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <!-- https://getbootstrap.com/docs/5.0/components/navbar/ -->
        <a class="navbar-brand" href="/">Apps</a>
      </div>
    </nav>

    <section id="projects" class="background-alt" role="main">
      <h2>Fun / Tech Demos</h2>
      <div class="container">
        {% render 'project_view.liquid' for collections.funProjects as project %}
      </div>
      <h2>Useful open source projects</h2>
      <div class="container">
        {% render 'project_view.liquid' for collections.seriousProjects as project %}
      </div>
      <h2>Jenkins projects</h2>
      <div class="container">
        {% render 'project_view.liquid' for collections.jenkinsProjects as project %}
      </div>
      <h2>Legacy projects</h2>
      <div class="container">
        {% render 'project_view.liquid' for collections.legacyProjects as project %}
      </div>
      <h2>MUDs</h2>
      <div class="container">
        {% render 'project_view.liquid' for collections.mudsProjects as project %}
      </div>
      <h2>Everything else</h2>
      <div class="container">
        {% render 'project_view.liquid' for collections.remainingProjects as project %}
      </div>
    </section>
  </body>
</html>
